@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Base Styles */
html {
  scroll-behavior: smooth;
}

body {
  @apply bg-gray-50 text-slate-800 font-sans antialiased;
}

h1 {
  @apply text-2xl font-bold text-slate-900 mb-6;
}

h2 {
  @apply text-xl font-semibold text-slate-800 mb-4;
}

h3 {
  @apply text-lg font-medium text-slate-700 mb-3;
}
